<div class="gameplay-table overflow-x-auto" id="gameplay-table">
  <table class="w-full text-left">
    <thead>
      <tr>
        <th class="border p-2">No.</th>
        <th class="border p-2">Nama</th>
        <th class="border p-2">Deskripsi</th>
        <th class="border p-2">Score</th>
        <th class="border p-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= no_table_record(gameplays, 4, 'There is no gameplay available here...') %>
      <% gameplays.each.with_index(1) do |gameplay, key| %>
        <tr>
          <td class="border p-2"><%= key %></td>
          <td class="border p-2"><%= gameplay.gameplay.name %></td>
          <td class="border p-2"><%= truncate(gameplay.gameplay.description, :length => 70) %></td>
          <td class="border p-2"><%= gameplay.total_score %></td>
          <td class="border p-2">
            <%= link_to quest_interviews_gameplay_path(gameplay.gameplay.id, interview_gameplay_id: gameplay, interview_id: gameplay.interview), class: 'bg-africanViolet w-7 h-7 rounded inline-block mb-1' do %>
              <span class="flex h-full"><i class="fa fa-eye text-xs text-white m-auto" aria-hidden="true"></i></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flow-root mt-4">
  <div class="float-left">
    <%= page_entries_info gameplays, entry_name: 'Gameplay' if gameplays.present? %>
  </div>
  <div class="float-right">
    <%= paginate gameplays, window: 2 %>
  </div>
</div>
