<div class="main-content-header mb-3">
  <%= load_flash_alert %>
  <%= load_flash_notice %>
  <h1 class="main-content-title text-3xl font-bold mb-5">Survey</h1>
</div>
<%= form_for(@survey, url: admin_survey_path(@survey), html: {class: '', id: 'survey_form'}) do |f| %>
  <div class="sticky top-16 text-left bg-white p-5 flex justify-between rounded shadow-md mb-7 gap-3">
    <%= link_to admin_survey_answers_path, class: 'bg-white border border-pacifixBlue text-black hover:shadow-lg transition ease-in h-10 w-10 rounded' do %>
      <span class="flex h-full"><i class="fas fa-chevron-left m-auto"></i></span>
    <% end %>
    <div class="text-right grid grid-cols-1 sm-[425px]:grid-cols-3 justify-end gap-2">
      <select class="bg-white w-full h-10 px-3 border focus:border-pacifixBlue rounded focus:outline-none select-navigation-question">
        <option hidden selected>Choose Question</option>
      </select>
      <%= link_to_add_nested(f, :survey_questions, '#custom-option-section', link_classes: 'bg-africanViolet text-white p-2 rounded hover:shadow-lg inline-block transition ease-in w-full text-center btn-add-survey-question cursor-pointer') do %>
        Add Question
      <% end %>
      <%= f.submit 'Save', class: 'bg-pacifixBlue hover:shadow-lg transition ease-in focus:outline-none h-10 w-full rounded text-white' %>
    </div>
  </div>
  <div class="main-content-card bg-white p-7 rounded shadow-md mb-10">
    <div class="grid grid-cols-1 gap-4">
      <div class="form-group">
        <%= f.label :title, "Title", class: 'font-bold block' %>
        <%= f.text_field :title, class: 'w-full border border-slate-300 py-[7px] px-3 rounded outline-none focus:border-pacifixBlue transition ease-in', placeholder: 'Title', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :description, "Description", class: 'font-bold block' %>
        <%= f.text_area :description, class: 'w-full border border-slate-300 py-[7px] px-3 rounded outline-none focus:border-pacifixBlue transition ease-in', placeholder: 'Description', required: true %><br>
      </div>
      <div class="form-group">
        <%= f.label :period, "Period", class: 'font-bold block' %>
        <%= f.select :period , options_for_select(@periods || [], f.object.period), {include_blank: 'Select Period'}, {class: "w-full p-2 rounded focus:outline-none bg-white border border-slate-300 focus:border-pacifixBlue px-3 transition ease-in survey-type", style: "width: 100%", required: true} %>
      </div>
    </div>
  </div>
  <div id='custom-option-section'>
    <% @key = 1 %>
    <%= f.fields_for :survey_questions do |survey_question_f, key| %>
      <%= render 'survey_question_fields', form: survey_question_f, key: @key %>
      <% @key += 1 %>
    <% end %>
  </div>
<% end %>
