<a href="https://api.whatsapp.com/send?phone=+628112108020&text=Hello,%20i%20want%20to%20ask%20about%20website" class="text-decoration-none whatsapp-image-wrapper shadow d-flex justify-content-center align-items-center">
  <%= image_tag asset_image("nineod/whatsapp.svg"), class: 'whatsapp-image rounded-circle', alt: 'whatsapp-image' %>
</a>
<div class="homepage-parallax active-scroll d-flex flex-column justify-content-center align-items-center text-light text-center" id="home">
  <div class="homepage-content" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="2000">
    <div class="container">
      <h1 class="homepage-title text-uppercase fw-bold lh-sm mb-4">
        we're provide <span class="d-block">enterprise digital solution</span>
      </h1>
      <div class="homepage-desc">
        <p class="mb-0">Nineod is one of best IT Company in Indonesia <span class="mb-0 d-block">We're specializing in software solutions and managed services.</span><span class="mb-0 d-block">Our goal is to help our clients to give a digital solution withenterprise-quality using <span class="d-block">top-notch technologies.</span></span></p>
      </div>
    </div>
  </div>
</div>
<ul class="pagination-section p-0">
  <li class="page-item"><a href="/#home" class="rounded-circle text-decoration-none active"></a></li>
  <li class="page-item"><a href="/#about" class="rounded-circle text-decoration-none"></a></li>
  <li class="page-item"><a href="/#projects" class="rounded-circle text-decoration-none"></a></li>
  <li class="page-item"><a href="/#contact" class="rounded-circle text-decoration-none"></a></li>
</ul>
<section class="about-wrap active-scroll overflow-hidden" id="about">
  <div class="container">
    <div class="about-helper row mb-5">
      <div class="about-helper-image col-md-6">
        <%= image_tag asset_image("nineod//about-image.jpg"), class: 'w-100 mb-3', alt: '' %>
      </div>
      <div class="about-helper-desc col-md-6 d-flex align-items-center">
        <div class="ps-3">
          <h1 class="about-helper-title fw-bold text-black" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
            What We Have to
            <span class="text-gray-light">Help</span> Bussiness Owner
          </h1>
          <p class="text-gray-dark mb-4" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
            We mainly focus to help Business owner and support them using
            Our Digital Solution. And our client can focus with their
            idea, sales and leads.
          </p>
          <div class="d-flex align-items-center checklist-item mb-4" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700">
            <i class="fas fa-check-circle text-gray-solid fs-3 me-3"></i>
            <span class="fs-5 text-gray-dark">Trustworthy Partner</span>
          </div>
          <div class="d-flex align-items-center checklist-item mb-4" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800">
            <i class="fas fa-check-circle text-gray-solid fs-3 me-3"></i>
            <span class="fs-5 text-gray-dark">Quality Service</span>
          </div>
          <div class="d-flex align-items-center checklist-item mb-5" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900">
            <i class="fas fa-check-circle text-gray-solid fs-3 me-3"></i>
            <span class="fs-5 text-gray-dark">Competitive Price</span>
          </div>
          <div class="text-right" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
            <a href="https://api.whatsapp.com/send?phone=+628112108020&text=Hello,%20i%20want%20to%20ask%20about%20website" target="_blank" class="text-decoration-none d-inline-block btn-about text-uppercase fw-bold rounded-0">
              start now
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="about-process d-flex flex-column justify-content-center align-items-center text-center mb-5">
      <h1 class="about-process-title fw-bold text-black lh-base mb-3" data-aos="fade-in" data-aos-duration="3000">
        Our Work Process
        <span class="d-block"><span class="text-gray-light">Strong</span> Bussines</span> 
      </h1>
      <div class="text-gray-dark" data-aos="fade-in" data-aos-duration="3000">
        <p class="m-0">We help our clients with 3 types of services.</p>
        <p class="m-0">Custom Apps, Website Builder & Platform Builder</p>
      </div>
    </div>
    <div class="about-types row gy-4">
      <div class="col-md-4 mb-3">
        <div class="about-types-card shadow d-flex flex-column text-center align-items-center" data-aos="fade-right" data-aos-duration="2000">
          <%= image_tag asset_image("nineod/custom-web.svg"), class: 'about-types-image mb-3', alt: '' %>
          <h4 class="fw-bold">Custome Web App</h4>
          <p class="text-gray-dark">
            We're provide a service to build a custom web app to match with
            our client needs or business process. Specially made for you.
          </p>
          <%= link_to 'Learn More', custom_web_app_path, class: "text-decoration-none btn-about-process text-uppercase fw-bold"%>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="about-types-card shadow d-flex flex-column text-center align-items-center" data-aos="fade-in" data-aos-duration="2000">
          <%= image_tag asset_image("nineod/website-builder.svg"), class: 'about-types-image mb-3', alt: '' %>
          <h4 class="fw-bold">Website Builder</h4>
          <p class="text-gray-dark">
            Build your own websites. Whether you’re promoting your business,
            showcasing your work, opening your store or starting a blog
          </p>
          <%= link_to 'Learn More', website_builder_path, class: "text-decoration-none btn-about-process text-uppercase fw-bold"%>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="about-types-card shadow d-flex flex-column text-center align-items-center" data-aos="fade-left" data-aos-duration="2000">
          <%= image_tag asset_image("nineod/platform.svg"), class: 'about-types-image mb-3', alt: '' %>
          <h4 class="fw-bold">Platform Builder</h4>
          <p class="text-gray-dark">
            Platform Builder is the complete solution for entrepreneurs,
            influencers or retailers to starting an online business.
          </p>
          <%= link_to 'Learn More', platform_builder_path, class: "text-decoration-none btn-about-process text-uppercase fw-bold"%>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="history-wrap overflow-hidden" id="history">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center text-center mb-5">
      <h1 class="history-title fw-bold text-black" data-aos="fade-in" data-aos-duration="3000">
        Start Business Some of
        <span class="text-gray-light">Our History</span>
      </h1>
      <p class="history-desc text-gray-dark" data-aos="fade-in" data-aos-duration="3000">
        We've helped many clients around the world’s and we also create our
        own histories from our great clients. And we do our business process
        remotely from our loved office to support our loved clients.
      </p>
    </div>
    <div class="row gy-4">
      <div class="col-md-6">
        <div class="row g-4">
          <div class="col-md-6 col-6">
            <div class="history-card shadow text-center" data-aos="fade-right" data-aos-duration="2000">
              <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                <h1 class="fw-bold text-black">235</h1>
                <p class="text-gray-dark m-0">Project Complete</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="history-card shadow text-center" data-aos="fade-right" data-aos-duration="2000">
              <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                <h1 class="fw-bold text-black">132</h1>
                <p class="text-gray-dark m-0">Manage Projects</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="history-card shadow text-center" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
              <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                <h1 class="fw-bold text-black">164</h1>
                <p class="text-gray-dark m-0">New Client</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="history-card shadow text-center " data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
              <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                <h1 class="fw-bold text-black">132</h1>
                <p class="text-gray-dark m-0">Happy Clients</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= video_tag asset_image("nineod/start-business.mp4"), controls: '', class: 'history-video object-cover shadow-sm w-100 h-100', 'data-aos': 'fade-left', 'data-aos-duration': '2000' %>
      </div>
    </div>
  </div>
</section>
<section class="project-wrap active-scroll overflow-hidden" id="projects">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center text-center mb-3">
      <h1 class="project-title fw-bold text-black" data-aos="fade-in" data-aos-duration="3000">
        You Can See
        <span class="d-block">Our New <span class="text-gray-light">Projects</span></span>
      </h1>
      <p class="project-desc text-gray-dark" data-aos="fade-in" data-aos-duration="3000">
        Here is our histories. We've build and help many projects from our
        clients
      </p>
    </div>
    <div class="row gy-5 gx-3 mb-4">
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="http://www.loop.net.nz/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/loop-website.jpg"), class: 'w-100', alt: 'loop-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="text-secondary">LOOP, Find the Fun</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://virtualspirit.me/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/virtual-spirit-website.jpg"), class: 'w-100', alt: 'virtual-spirit-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="text-secondary text-uppercase">Virtual Spirit</h5>
                <span class="text-black">Agency Web Apps</span>   
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://fabrication.net/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/fabrication-website.jpg"), class: 'w-100', alt: 'fabrication-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="text-secondary text-uppercase">fabrication net</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://eduparc.nl/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/eduparc-website.jpg"), class: 'w-100', alt: 'eduparc-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="text-secondary text-uppercase">Eduparc</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="http://belilah.com.my/" class="text-decoration-none">
          <div class="project-item">
            <%= image_tag asset_image("nineod/belilah-website.jpg"), class: 'w-100', alt: 'belilah-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="text-gray-dark text-uppercase">belilah</h5>
                <span class="text-black">E-Commerce Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="http://www.nineodfreight.com/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/nineodfreight-website.jpg"), class: 'w-100', alt: 'nineodfreight-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="project-item-title text-gray-light text-uppercase">Nineod Freight</h5>
                <span class="text-black">Profile Company</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://www.sinarindahplastic.com/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/sip-website.jpg"), class: 'w-100', alt: 'sip-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="project-item-title text-gray-light text-uppercase">sinar indah plastic</h5>
                <span class="text-black">Profile Company</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://tqg2u.my/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/tqg-website.png"), class: 'w-100', alt: 'tqg-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="project-item-title text-gray-light text-uppercase">TQG Website</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
       <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://www.eatdrinkkl.com/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/edkl-website.png"), class: 'w-100', alt: 'edkl-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="project-item-title text-gray-light text-uppercase">EDKL Website</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://tvms.tzuchi.com.my/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/tvms-website.png"), class: 'w-100', alt: 'tvms-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="project-item-title text-gray-light text-uppercase">TVMS Website</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12 project-item-wrap">
        <a href="https://tcmc.tzuchi.com.my/" class="text-decoration-none" target="_blank">
          <div class="project-item">
            <%= image_tag asset_image("nineod/tcmc-website.png"), class: 'w-100', alt: 'tcmc-website' %>
            <div class="project-item-overlay">
              <div class="project-item-desc">
                <h5 class="project-item-title text-gray-light text-uppercase">TCMC Website</h5>
                <span class="text-black">Web Apps</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="w-100 text-center">
      <button class="text-decoration-underline bg-transparent border-0 show-more" id="showMore">Show More</button>
    </div>
  </div>
</section>
<section class="our-clients-wrap overflow-hidden">
  <div class="container">
    <div class="our-clients-desc text-center mb-5">
      <h1 class="our-clients-title fw-bold text-black w-100" data-aos="fade-in" data-aos-duration="3000">
        What Say Our
        <span class="d-block">Profesional
          <span class="text-gray-light">Clients</span>
        </span>
      </h1>
    </div>
    <div class="our-clients-content shadow m-auto rounded-pill">
      <div class="our-clients-item d-flex align-items-center gap-4">
        <%= image_tag asset_image("nineod/janet.jpg"), class: 'rounded-circle', alt: 'janet-img' %>
        <div class="our-clients-say">
          <p class="mb-3 fst-italic">"Good Rails developer and I enjoyed working with their. Speed and communication were great and their Rails skills were good."</p>
          <p class="fs-4 mb-0">Janet</p>
        </div>
      </div>
      <div class="our-clients-item d-flex align-items-center gap-4">
        <%= image_tag asset_image("nineod/anna.jpg"), class: 'rounded-circle', alt: 'anna-img' %>
        <div class="our-clients-say">
          <p class="mb-3 fst-italic">"The required work was done quickly and perfectly. Very effective. Thank you very much."</p>
          <p class="fs-4 mb-0">Anna</p>
        </div>
      </div>
      <div class="our-clients-item d-flex align-items-center gap-4">
        <%= image_tag asset_image("nineod/sergey.jpg"), class: 'rounded-circle', alt: 'sergey-img' %>
        <div class="our-clients-say">
          <p class="mb-3 fst-italic">"Great communicator!Flexible and patient with adjustments on my end."</p>
          <p class="fs-4 mb-0">Sergey</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="partners-wrap" id="partners">
  <i class="fas fa-chevron-left arrow-prev text-white"></i>
  <i class="fas fa-chevron-right arrow-next text-white"></i>
  <div class="partners-body">
    <%= image_tag asset_image("nineod/github.png"), class: 'img-partners me-3', alt: 'github-img' %>
    <%= image_tag asset_image("nineod/heroku.png"), class: 'img-partners me-3', alt: 'heroku-img' %>
    <%= image_tag asset_image("nineod/toptal.png"), class: 'img-partners me-3', alt: 'toptal-img' %>
    <%= image_tag asset_image("nineod/nws.png"), class: 'img-partners me-3', alt: 'nws-img' %>
    <%= image_tag asset_image("nineod/maca.png"), class: 'img-partners me-3', alt: 'maca-img' %>
    <%= image_tag asset_image("nineod/loop-yellow.png"), class: 'img-partners me-3', alt: 'loop-yellow-img' %>
    <%= image_tag asset_image("nineod/hubstaff.png"), class: 'img-partners me-3', alt: 'hubstaff-img' %>
    <%= image_tag asset_image("nineod/open-build.png"), class: 'img-partners me-3', alt: 'open-build-img' %>
    <%= image_tag asset_image("nineod/slack.png"), class: 'img-partners me-3', alt: 'slack-img' %>
    <%= image_tag asset_image("nineod/trello.png"), class: 'img-partners me-3', alt: 'trello-img' %>
    <%= image_tag asset_image("nineod/upwork.png"), class: 'img-partners me-3', alt: 'upwork-img' %>
  </div>
</section>
<section class="team-wrap" id="team">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
      <h1 class="team-title fw-bold text-black mb-3" data-aos="fade-in" data-aos-duration="3000">
        Meet The
        <span class="text-gray-light">Team</span>
      </h1>
      <%= image_tag asset_image("nineod/ceo.png"), class: 'img-fluid img-team mb-3', alt: 'pa-elvin-img' %>
      <i class="fw-semibold fs-5">Elvin Alvian</i>
      <div class="d-inline mb-3">
        <a href="https://www.upwork.com/freelancers/~0156c4edbc7b84b60c/" class="text-decoration-none" target="_blank"><%= image_tag asset_image("nineod/upwork-gray.png"), class: 'team-icons me-1', alt: 'upwork' %></a>
        <a href="https://www.linkedin.com/in/3lviend/" class="text-decoration-none" target="_blank"><%= image_tag asset_image("nineod/linkedin-gray.png"), class: 'team-icons', alt: 'upwork' %></a>
      </div>
      <p class="fw-light">
        FullStack Ruby on Rails Developer with Responsive Design experience
      </p>
    </div>
  </div>
</section>
<section class="contact-wrap active-scroll" id="contact">
  <div class="container">
    <div class="row">
      <div class="contact-card-wrapper col-md-6 col-12 d-flex flex-column align-items-center">
        <div class="contact-card-item d-flex align-items-center" data-aos="fade-right" data-aos-duration="2000">
          <i class="fas fa-phone"></i>
          <div class="d-inline w-100">
            <h1 class="fw-bold mb-0 fs-5">Phone</h1>
            <a href="tel:+62%20811-2108-020" class="text-decoration-none m-0">+62 811-2108-020</a>
          </div>
        </div>
        <div class="contact-card-item d-flex align-items-center" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
          <i class="far fa-envelope"></i>
          <div class="d-inline w-100">
            <h1 class="fw-bold mb-0 fs-5">Email</h1>
            <a href="mailto:admin@nineod.com" class="text-decoration-none m-0">admin@nineod.com</a>
          </div>
        </div>
        <div class="contact-card-item d-flex align-items-center mb-4" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="600">
          <i class="fa fa-map-marker-alt"></i>
          <div class="d-inline w-100">
            <h1 class="fw-bold mb-0 fs-5">Address</h1>
            <a href="https://goo.gl/maps/PYH4nFhexuqaSpYR9" target="_blank" class="text-decoration-none m-0">Jl. Sentra Raya No. 11</a>
          </div>
        </div>
        <div class="contact-social-icons mt-3">
          <a href="https://www.facebook.com/nineod/" target="_blank" class="text-decoration-none">
            <i class="fab fa-facebook-f me-4 fs-5"></i>
          </a>
          <a href="https://twitter.com/nineodofficial" target="_blank" class="text-decoration-none">
            <i class="fab fa-twitter me-4 fs-5"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC5i3z--8T9DPZR7JcGye94w" target="_blank" class="text-decoration-none">
            <i class="fab fa-youtube me-4 fs-5" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/nineodofficial/" target="_blank" class="text-decoration-none">
            <i class="fab fa-instagram fs-5"></i>
          </a>
        </div>
      </div>
      <div class="contact-form col-md-6 col-12">
        <h1 class="contact-form-title fw-bold text-black mb-0 w-100" data-aos="fade-in" data-aos-duration="3000">
          <span class="text-gray-light">Interested</span>
          in discussing?
        </h1>

        <p class="text-gray-dark" data-aos="fade-in" data-aos-duration="3000">
          We're open for any sugeestion or just to have a chat
        </p>
        <%= form_for(@contact_request, url: contact_requests_path, method: :post, remote: true, html: {class: 'row gy-3', id: 'form-contact', 'data-aos': 'fade-in', 'data-aos-duration': '3000', 'data-aos-delay': '500'}) do |f| %>
          <div class="col-md-12">
            <div class="row gy-3">
              <div class="col-md-6">
                <p class="mb-0">
                  <%= f.text_field :name, class: 'contact-form-input contact-input text-gray-dark w-100', placeholder: 'Name', required: true %>
                  <%= f.hidden_field :domain_request, value: request.domain, required: true %>
                </p>
              </div>
              <div class="col-md-6">
                <p class="mb-0">
                  <%= f.email_field :email, class: 'contact-form-input contact-input text-gray-dark w-100', placeholder: 'Email', required: true %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p class="mb-0">
              <%= f.text_field :subject, class: 'contact-form-input contact-input w-100 text-gray-dark', placeholder: 'Subject', required: true, id:'aa' %>
            </p>
          </div>
          <div class="col-md-12">
            <p class="mb-0">
              <%= f.text_area :message, class: 'contact-form-input contact-input w-100 text-gray-dark', placeholder: 'Type your message here...', cols: '30', rows: '7', required: true %>
            </p>
          </div>
          <div class="col-md-12">
            <%= f.submit 'submit', class: "w-100 text-uppercase fw-bold border-0 btn-contact-form" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="footer-list row">
      <div class="col-md-4">
        <p class="fw-light footer-title m-0">
          Nineod &copy; 2021 All Rights Reserved
        </p>
      </div>
      <div class="col-md-4">
        <p class="fw-light text-center m-0">
          <a href="#" class="text-decoration-none">Proudly created</a>
          with
          <%= image_tag asset_image("nineod/love.svg"), class: 'img-footer', alt: 'love-img-footer' %> by
          <a href="https://www.nineod.com/" class="text-decoration-none">nineod</a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="footer-social-icon d-flex justify-content-end my-2">
          <a href="https://www.facebook.com/nineod/" target="_blank" class="me-3"><i class="fab fa-facebook-f fs-6"></i></a>
          <a href="https://twitter.com/nineodofficial" target="_blank" class="me-3"><i class="fab fa-twitter fs-6"></i></a>
          <a href="https://www.youtube.com/channel/UC5i3z--8T9DPZR7JcGye94w" target="_blank" class="me-3"><i class="fab fa-youtube fs-6"></i></a>
          <a href="https://www.instagram.com/nineodofficial/" target="_blank"><i class="fab fa-instagram fs-6"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
