<a href="https://api.whatsapp.com/send?phone=+628112108020&text=Hello,%20i%20want%20to%20ask%20about%20website" class="text-decoration-none whatsapp-image-wrapper shadow d-flex justify-content-center align-items-center">
  <%= image_tag asset_image("nineod/whatsapp.svg"), class: 'whatsapp-image rounded-circle', alt: 'whatsapp-image' %>
</a>
<section class="services-banner platform-background">
  <div class="background-dark-thin">
    <div class="container">
      <div class="services-banner-desc d-flex flex-column justify-content-center text-center align-items-center text-white">
        <h1 class="services-banner-title text-capitalize mb-4 fw-light" data-aos="fade-down" data-aos-duration="2000" data-aos-delay="2000">kembangkan bisnis anda <span class="d-block">secara online</span></h1>
        <p class="mb-4 fw-light" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="2000">Kembangkan Bisnis Online Anda dengan menggunakan <span class="d-block">layanan Platform Builder kami</span></p>
        <div data-aos="fade-right" data-aos-duration="2000" data-aos-delay="2000">
          <a href="https://api.whatsapp.com/send?phone=+628112108020&text=Hello,%20i%20want%20to%20ask%20about%20website" target="_blank" class="services-banner-btn d-inline-block">Buat Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="services-content-wrap d-flex flex-column">
  <section class="services-content odr-3 py-5">
    <div class="container d-flex">
      <div class="row gy-4">
        <div class="col-md-6 services-content-desc d-flex flex-column" data-aos="fade-right" data-aos-duration="2000">
          <h1 class="fw-bold text-black fs-2">Kembangkan dan Kelola Restoran Anda</h1>
          <p class="services-content-text">Mulai Bangun bisnis Restoran anda, dapatkan kemudahan dalam reservasi produk makanan anda.</p>
          <div class="row">
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="300">
              <h1 class="fw-bold mb-3 fs-5">Pemesanan Online</h1>
              <p>Terima pesanan & terima pembayaran online anda . Biarkan pelanggan anda memesan dan melakukan pengambilan produk anda dengan mudah cepat.</p>
            </div>
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="400">
              <h1 class="fw-bold mb-3 fs-5">Manajemen Reservasi</h1>
              <p>Dapatkan Kemudahan dalam reservasi online & Kirim konfirmasi otomatis kepada pelanggan</p>
            </div>
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
              <h1 class="fw-bold mb-3 fs-5">Custom Menu</h1>
              <p>Buat dan kelola menu online untuk restoran anda dan jangkau lebih banyak pembeli.</p>
            </div>
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="600">
              <h1 class="fw-bold mb-3 fs-5">Pembayaran Online yang Aman</h1>
              <p>Biarkan pelanggan membayar dengan kartu kredit, dompet digital, atau uang tunai</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag asset_image("nineod/web-burger-img.jpg"), class: 'img-fluid', alt: 'web-burger-img', 'data-aos': 'fade-left', 'data-aos-duration': '2000' %>
        </div>
      </div>
    </div>
  </section>
  <section class="services-content odr-2 py-5 overflow-hidden background-info">
    <div class="container">
      <div class="row gy-4">
        <div class="col-md-6">
          <%= image_tag asset_image("nineod/reservation-img.jpg"), class: 'img-fluid', alt: 'reservation-img', 'data-aos': 'fade-right', 'data-aos-duration': '2000' %>
        </div>
        <div class="col-md-6">
          <div class="services-content-desc h-100 d-flex flex-column justify-content-center" data-aos="fade-left" data-aos-duration="2000">
            <h1 class="fw-bold text-black fs-2">Kelola Reservasi Hotel</h1>
            <p class="services-content-text">Ayo Bangun Bisnis Hotel impian Anda, Dapatkan kemudahan dalam reservasi hotel anda. Nikmati berbagai macam fitur untuk menjangkau luas pelanggan anda.</p>
            <div class="row">
              <div class="col-md-6 services-content-detail" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="300">
                <h1 class="fw-bold mb-3 fs-5">Sewa & Daftar Hotel Online</h1>
                <p>Avenir Light is a clean and stylish font favored by designers. It's easy on the eyes and a great go to font for titles, paragraphs & more.</p>
              </div>
              <div class="col-md-6 services-content-detail" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="400">
                <h1 class="fw-bold mb-3 fs-5">Kelola Reservasi</h1>
                <p>Avenir Light is a clean and stylish font favored by designers. It's easy on the eyes and a great go to font for titles, paragraphs & more.</p>
              </div>
              <div class="col-md-6 services-content-detail" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="500">
                <h1 class="fw-bold mb-3 fs-5">Kirim Email Informasi Instan</h1>
                <p>Tamu Anda akan secara otomatis mendapatkan email konfirmasi setelah mereka memesan kamar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services-content odr-1 py-5 overflow-hidden ">
    <div class="container d-flex">
      <div class="row gy-4">
        <div class="col-md-6 services-content-desc d-flex flex-column justify-content-center" data-aos="fade-right" data-aos-duration="2000">
          <h1 class="fw-bold text-black fs-2">Buat Situs Toko Online dengan Mudah</h1>
          <p class="services-content-text">Mulai kembangkan bisnis anda di era digital ini, dan manfaatkan fitur-fitur menarik yang kami sediakan.</p>
          <div class="row">
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="300">
              <h1 class="fw-bold mb-3 fs-5">Pembayaran Online yang Aman</h1>
              <p>Avenir Light is a clean and stylish font favored by Terima pembayaran online yang aman & kelola semua transaksi dari dasbor Wix Anda.</p>
            </div>
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="400">
              <h1 class="fw-bold mb-3 fs-5">Paket & Pembayaran Berulang</h1>
              <p>Tawarkan berbagai paket harga, mulai jual langganan & kumpulkan pembayaran berulang.</p>
            </div>
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
              <h1 class="fw-bold mb-3 fs-5">Produk Tak Terbatas</h1>
              <p>Tampilkan produk & koleksi Anda tanpa batas dan berikan opsi pengurutan & filter agar pelanggan dapat berbelanja dengan mudah.</p>
            </div>
            <div class="col-md-6 services-content-detail" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="600">
              <h1 class="fw-bold mb-3 fs-5">Jual di Marketplaces</h1>
              <p>Jangkau lebih banyak pembeli & jual di marketplace manapun.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag asset_image("nineod/online-store.jpg"), class: 'img-fluid', alt: 'online-store', 'data-aos': 'fade-left', 'data-aos-duration': '2000' %>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="services-schedule py-5 d-flex flex-column justify-content-center text-center">
  <div class="container">
    <h3 class="services-schedule-title fw-bold mb-3" data-aos="fade-up" data-aos-duration="2000">Kami Disini Untuk Anda</h3>
    <div class="services-schedule-desc" data-aos="fade-right" data-aos-duration="2000">
      <p class="m-0">Punya Pertanyaan Seputar Website?</p>
      <p class="mb-4">Buat Jadwal Diskusi Sekarang!</p>
    </div>
    <a href="https://api.whatsapp.com/send?phone=+628112108020&text=Hello,%20i%20want%20to%20ask%20about%20website" class="services-schedule-btn text-decoration-none" target="_blank">Buat Jadwal</a>
  </div>
</section>
<section class="services-faq py-5">
  <div class="container">
    <h3 class="services-faq-title text-uppercase text-center fw-bold">faq</h3>
    <form class="search-area position-relative">
      <input type="text" class="input-search float-end form-control" placeholder="Looking for something?">
      <i class="fas fa-search search-icon position-absolute"></i>
      <button class="position-absolute btn-close" type="reset"></button>
    </form>
    <div class="message-empty">
      <p class="mb-0">Maaf, tidak ada hasil yang cocok dengan kriteria pencarian Anda.</p>
      <p class="mb-0">Silakan coba lagi dengan kata kunci lain.</p>
    </div>
    <div class="accordion accordion-flush faq-dropdown" id="accordionFlushExample">
      <div class="accordion-item" id="accordion-item-0">
        <h2 class="fw-bold" id="flush-headingOne">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">PEMESANAN</button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-uppercase">
            <span class="fw-semibold">BAGAIMANA CARA LENGKAP UNTUK MELAKUKAN PEMESANAN?</span>
            <ul>
              <li>Masuk ke website <%= link_to 'nineod.com/services', services_path, class: "text-secondary text-decoration-none"%></li>
              <li>Pilih Paket sesuai kebutuhan Anda</li>
              <li>Klik "Beli Sekarang", pilih metode pembayaran dan mengisi data dengan benar, kemudian bayar.</li>
              <li>Kirim bukti pembayaran untuk mengkonfirmasi pesanan Anda ke nomer Whatsapp, atau klik <a href="https://api.whatsapp.com/send?phone=+628112108020&text=Hallo,%20saya%20ingin%20mengirim%20bukti%20pembayaran%20paket%20website" class="text-secondary text-decoration-none" target="_blanks">Link</a> ini </li>
              <li>Pesanan Anda akan segera diterima dan admin akan melakukan proses berikutnya.</li>
            </ul>
            <span class="fw-semibold">APA YANG HARUS SAYA LAKUKAN SETELAH MELAKUKAN PEMBAYARAN ?</span>
            <ul>
              <li>Melakukan konfirmasi pembayaran melalui admin Whatsapp.</li>
            </ul>
            <span class="fw-semibold">APAKAH TERSEDIA PEMBAYARAN BULANAN?</span>
            <ul>
              <li>Untuk saat ini belum tersedia.</li>
            </ul>
            <span class="fw-semibold">PEMBAYARANNYA MELALUI APA?</span>
            <ul>
              <li>Kami menyediakan beberapa metode pembayaran seperti, Visa, Virtual Account Retail Outles dan Ewallets.</li>
            </ul>
            <span class="fw-semibold">APAKAH ADA GARANSI UANG KEMBALI?</span>
            <ul>
              <li>Ada, selama 14 Hari masa percobaan dengan syarat ketentuan berlaku di Terms And Condition.</li>
            </ul>
            <span class="fw-semibold">APAKAH ADA BIAYA TAMBAHAN?</span>
            <ul>
              <li>Ya, jika ada tambahan fitur diluar paket yang kami miliki.</li>
            </ul>
            <span class="fw-semibold">APAKAH ADA DISKON ATAU PROMO?</span>
            <ul>
              <li>Tentu saja, kami akan selalu memberikan diskon atau promo. Untuk info diskon atau promo kunjungi akun Instagram Kami <a href="https://www.instagram.com/nineodofficial/" class="text-secondary text-decoration-none">Disini</a>.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" id="accordion-item-1">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">TECHNICAL FLOW</button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-uppercase">
            <span class="fw-semibold">BERAPA LAMA PENGERJAAN UNTUK WEBSITE E-COMMERCE TERSEBUT?</span>
            <ul>
              <li>Untuk waktu pengerjaan kami estimasikan sesuai tingkat kesulitan website</li>
            </ul>
            <span class="fw-semibold">KAPAN LAYANAN WEBSITE E-COMMERCE SAYA AKTIF?</span>
            <ul>
              <li>Setelah website Anda selesai dikerjakan dan bisa diakses secara Live
              </li>
            </ul>
            <span class="fw-semibold">APAKAH SUDAH TERMASUK BIAYA MAINTENANCE?</span>
            <ul>
              <li>Ya, akan tetapi kami akan membatasi sesuai yang tertera didalam Paket</li>
            </ul>
            <span class="fw-semibold">APAKAH MEMILIKI ADMIN PANEL ATAU C PANEL?</span>
            <ul>
              <li>Ya, Kami menyediakan Dashboard/Admin untuk pengolahan data website Anda.</li>
            </ul>
            <span class="fw-semibold">APAKAH SUDAH TERMASUK DENGAN DOMAIN?</span>
            <ul>
              <li>Ya, semua paket yang tersedia sudah termasuk domain gratis selama 1 tahun.</li>
            </ul>
            <span class="fw-semibold">KALO SAYA SUDAH PUNYA DESAIN WEBSITE BAGAIMANA?</span>
            <ul>
              <li>Tim Kami akan mengimplementasikan sesuai dengan design web yang Anda punya.</li>
            </ul>
            <span class="fw-semibold">KALO SAYA SUDAH PUNYA WEBSITE DAN MAU MENGGUNAKAN LAYANAN WEBSITE NINEOD APAKAH BISA?</span>
            <ul>
              <li>Tentu saja, tetapi sebelumnya harap konsultasikan terlebih dahulu perihal website yang sebelumnya.</li>
            </ul>
            <span class="fw-semibold">BAGAIMANA SAYA DAPAT MEMILIH DESAINNYA?</span>
            <ul>
              <li>Untuk pemilihan Template/Design Anda dapat melihatnya di website kami.
              </li>
            </ul>
            <span class="fw-semibold">APAKAH TERSEDIA LAYANAN DESAIN LOGO?</span>
            <ul>
              <li>Ya, kami menyediakan fitur "Logo Maker".</li>
            </ul>
            <span class="fw-semibold">BAGAIMANA GAMBAR GAMBAR / ASET KONTEN UNTUK DI WEBSITE?</span>
            <ul>
              <li>Kami sudah menyediakan gratis Asset gambar keperluan website Anda</li>
            </ul>
            <span class="fw-semibold">APAKAH DIPERBOLEHKAN MELAKUKAN PERUBAHAN MENDADAK ATAU PENAMBAHAN?</span>
            <ul>
              <li>Ya, tetapi sebelumnya harap mengkonfirmasikan terlebih dahulu.</li>
            </ul>
            <span class="fw-semibold">APAKAH SAYA DAPAT MELAKUKAN PERUBAHAN ATAU MODIFIKASI SENDIRI?</span>
            <ul>
              <li>Tidak bisa, karena sudah layanan ticket untuk perubahan atau modifikasi web. Jika memodifikasi sendiri di khawatirkan akan menimbulkan error yang tidak diinginkan.</li>
            </ul>
            <span class="fw-semibold">APAKAH SAYA BOLEH MENAMBAHKAN PLUGIN?</span>
            <ul>
              <li>Ya, selama plugin itu aman.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" id="accordion-item-2">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">GENERAL INFORMATION</button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-uppercase">
            <span class="fw-semibold">BERAPA HARGA UNTUK SETIAP PAKET?</span>
            <ul>
              <li>Untuk detail harga paket silahkan kunjungi website kami.</li>
            </ul>
            <span class="fw-semibold">‌APA KELEBIHAN FITUR DARI SETIAP PAKET?</span>
            <ul>
              <li>Untuk Paket website unlimited tidak mencakup Fitur, Profesional Logo, Sosial Media Logo, Files, dan Tiket DesignPages. Untuk paket VIP sudah mencakup semua yang tidak ada di paket Unlimited untuk detail kelebihan fitur dari setiap fitur, Anda bisa mengunjungi Link <a href="#">Disini</a></li>
            </ul>
            <span class="fw-semibold">‌‌‌APAKAH WEBSITENYA AMAN?</span>
            <ul>
              <li>Ya, karena website yang dibuat oleh kami sudah dilengkapi dengan sertifikat SSL.</li>
            </ul>
            <span class="fw-semibold">‌‌‌APAKAH ITU SSL?</span>
            <ul>
              <li>Sertifikat SSL atau lebih dikenal dengan SSL adalah singkatan dari Secure Socket Layer. Apabila sistem keamanan ini ditambahkan pada website Anda, maka url website akan berubah menjadi HTTPS. Tujuan utama pemasangan SSL adalah sebagai pengaman pertukaran data yang terjadi melalui jaringan internet.</li>
            </ul>
            <span class="fw-semibold">‌‌‌BERAPA HARGA MAINTENANCE?</span>
            <ul>
              <li>
                Harga maintenance sudah termasuk dalam paket yang dipilih.
              </li>
            </ul>
            <span class="fw-semibold">‌‌‌‌APA ITU WEBSITE ?</span>
            <ul>
              <li>Sebuah Kumpulan Halaman pada suatu domain di internet yang dibuat dengan tujuan tertentu dan saling berhubungan serta dapat diakses secara luas melalui Halaman Depan (Home Page) menggunakan sebuah browser menggunakan URL Website.</li>
            </ul>
            <span class="fw-semibold">‌‌‌‌APAKAH SULIT PROSES PENGGUNAAN LAYANAN NINEOD?</span>
            <ul>
              <li>Tentu tidak, karena kami memliki tim yang kompeten.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="footer-list row">
      <div class="col-md-4">
        <p class="fw-light footer-title m-0">Nineod &copy; 2021 All Rights Reserved</p>
      </div>
      <div class="col-md-4">
        <p class="fw-light text-center m-0">
          <a href="#" class="text-decoration-none">Proudly created</a>
          with
          <%= image_tag asset_image("nineod/love.svg"), class: 'img-footer', alt: 'love-img-footer'%> by
          <a href="https://www.nineod.com/" class="text-decoration-none">nineod</a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="footer-social-icon d-flex justify-content-end my-2">
          <a href="https://www.facebook.com/nineod/" target="_blank" class="me-3"><i class="fab fa-facebook-f fs-6"></i></a>
          <a href="https://twitter.com/nineodofficial" target="_blank" class="me-3"><i class="fab fa-twitter fs-6"></i></a>
          <a href="https://www.youtube.com/channel/UC5i3z--8T9DPZR7JcGye94w" target="_blank" class="me-3"><i class="fab fa-youtube fs-6"></i></a>
          <a href="https://www.instagram.com/nineodofficial/" target="_blank"><i class="fab fa-instagram fs-6"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
