<% @app_setting = app_setting %>
<div class="main-content-header mb-3">
  <h1 class="main-content-title text-3xl font-bold mb-5">Pay Invoice</h1>
</div>
<div class="main-content-card p-7 bg-white shadow-md rounded border">
  <%= load_flash_alert %>
  <%= load_flash_notice %>
  <% if @invoice.payments.present? %>
    <div class="tabs mb-4">
        <ul id="tabs-nav" class="border-b overflow-auto">
          <li class="float-left mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear">
            <a href="#tab1">New Payment</a>
          </li>
          <li class="float-left mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear ">
            <a href="#tab2">Payment Received</a>
          </li>
        </ul>
    </div>
  <% end%>
  <div id="tabs-content">
    <div id="tab1" class="tab-content">
      <%= form_tag user_invoice_payments_path, method: :post, class: 'grid grid-cols-1 sm:grid-cols-4 gap-4' do %>
        <div class="form-group">
          <%= label_tag :payment_date,'Invoice Amount', class: 'font-bold block mb-2' %>
          <p class="text-2xl"><%= number_to_currency(@invoice.total, unit: @invoice.currency.symbol) %></p>
          <input type="hidden" name="" class="invoice-amount-field" value="<%= @invoice.total %>">
          <input type="hidden" class="invoice-currency" value="<%= @invoice.currency.id %>">
          <input type="hidden" class="deposit-currency" name="">
        </div>
        <div class="form-group">
          <%= label_tag :payment_date,'Deposit To', class: 'font-bold block' %>
          <%= select_tag 'deposit_to',
              options_for_select(@cash_books, @payment.payment_transaction&.cash_book_id),
              { include_blank: 'Select Deposit To', class: 'w-full p-2 rounded focus:outline-none bg-white border border-slate-300 focus:border-pacifixBlue px-3  transition ease-in select-dropdown', required: true, style: 'width: 100%', 'data-url': find_cash_book_user_transactions_path } %>
        </div>
        <div class="form-group">
          <%= label_tag :payment_date,'Amount Received', class: 'font-bold block' %>
          <%= text_field_tag :amount_received, @payment.amount_received, class: 'w-full border border-slate-300 py-[7px] px-3 rounded focus:outline-none focus:border-pacifixBlue transition ease-in amount-received-field format-currency', id: 'amount-field', placeholder: 'Amount', required: true, step: :any %>
        </div>
        <div class="form-group">
          <%= label_tag :payment_type,'Payment Type', class: 'font-bold block' %>
          <label class="inline-flex items-center mt-2">
            <%= check_box_tag "payment_mode", 'Partial Payment', true, class: 'accent-pacifixBlue' %>
            <span class="ml-2">Partial Payment</span>
          </label>
        </div>
        <div class="form-group col-span-2">
          <%= label_tag :category,'Category', class: 'font-bold block' %>
          <%= select_tag 'category',
              options_for_select(@categories, @payment.payment_transaction&.cash_book_category_id),
              { include_blank: 'Select Category', class: 'w-full p-2 rounded focus:outline-none bg-white border border-slate-300 focus:border-pacifixBlue px-3  transition ease-in select-dropdown', required: true, style: "width: 100%" } %>
        </div>
        <div class="form-group col-span-2">
            <%= label_tag :payment_date,'Payment Date', class: 'font-bold block' %>
            <%= datetime_field_tag :payment_date, (@payment.payment_date || Time.now).strftime('%Y-%m-%dT%H:%M'), class: 'w-full border border-slate-300 py-[7px] px-3 rounded focus:outline-none focus:border-pacifixBlue transition ease-in' %>
        </div>
        <div class="form-group col-span-1 sm:col-span-4">
          <%= label_tag :payment_date,'Description ', class: 'font-bold block' %>
          <%= text_area_tag :description, @payment.description, class: 'w-full border border-slate-300 py-[7px] h-20 px-3 rounded focus:outline-none focus:border-pacifixBlue transition ease-in', placeholder: 'Description', required: true %>
        </div>
        <div class="form-group flex gap-2 col-span-1 sm:col-span-2">
          <%= button_tag 'Submit', type: 'submit', class: 'bg-pacifixBlue text-white px-5 py-2 rounded hover:shadow-lg transition ease-in' %>
          <%= link_to 'Back', user_invoices_path, class: 'border border-pacifixBlue px-5 py-2 rounded hover:bg-slate-100 transition ease-in' %>
        </div>
      <% end %>
    </div>
      <!-- 
      
      payment_date: Thu, 29 Dec 2022 10:35:00.000000000 WIB +07:00,     
      amount_received: 1000.0,                                          
      deposit_amount: 1000.0,                                           
      currency_id: 5,                                                   
      
        -->
    <% if @invoice.payments.present? %>
      <div id="tab2" class="tab-content">
          <div class="overflow-x-auto" id="position-table">
          <table class="w-full text-left shadow">
            <thead>
              <tr>
                <th class="border p-2">No.</th>
                <th class="border p-2">Payment Date</th>
                <th class="border p-2">Payment Type</th>
                <th class="border p-2">Amount Received</th>
                <th class="border p-2">Deposit To</th>
                <th class="border p-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <%#= no_table_record(@invoice.payments, 4) %>

              <% @invoice.payments.order(payment_date: :asc).each_with_index do |payment, idx| %>
                <tr>
                  <td class="border p-2"><%= idx + 1 %></td>
                  <td class="border p-2"><%= datetime_formater(payment.payment_date) %></td>
                  <td class="border p-2"><%= payment.payment_mode %></td>
                  <td class="border p-2"><%= number_to_currency(payment.amount_received, unit: payment.payment_transaction.cash_book.currency.symbol) %></td>
                  <td class="border p-2"><%= payment.payment_transaction.cash_book.name %></td>
                  <td class="border p-2">
                    <%= link_to edit_user_invoice_payment_path(params[:invoice_id], payment), class: 'bg-orange-400 w-7 h-7 rounded inline-block' do %>
                      <span class="flex h-full"><i class="fa fa-edit text-xs text-white m-auto" aria-hidden="true"></i></span>
                    <% end%>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
          <!-- <div class="flow-root mt-4">
            <div class="float-left">
              <%#= page_entries_info @items, entry_name: 'items' if @items.present? %>
            </div>
            <div class="float-right">
              <%#= paginate @items, window: 2 %>
            </div>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>
</div>
