<div class="flex justify-between">
  <span>
    <span class="text-2xl font-bold">Expense</span><br>
    <span class="text-xs"><%= date %></span>
  </span>
  <div class="form-group">
    <select class="p-2 bg-white outline-none border rounded focus:border-pacifixBlue transition ease-linear chart-dashboard expense-dashboard" data-url=<%= chart_dashboard_user_dashboard_index_path %>>
      <option value="daily" <%= 'selected' if type.eql?('daily') %>>Daily</option>
      <option value="weekly" <%= 'selected' if type.eql?('weekly') %>>Weekly</option>
      <option value="monthly" <%= 'selected' if type.eql?('monthly') %>>Monthly</option>
      <option value="annually" <%= 'selected' if type.eql?('annually') %>>Annually</option>
    </select>
  </div>
</div>
<%= pie_chart expense_reports, colors: ["#BA7AC8", "#C747C9", "#a54bb9"], donut: true, width: "100%", height: "300px" %>
