<%= search_form_for @q, url: admin_bug_reports_path,
                        html: { method: :get, class: 'gap-2 mb-2 bg-white p-7 shadow-md mb-5 rounded', id: 'search-admin-form', autocomplete: 'off' } do |f| %>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mb-4">
    <div class="form-group">
      <label for="name" class="font-bold block">Title</label>
      <%= f.text_field :title_cont, class: 'w-full border border-slate-300 py-[7px] px-3 rounded outline-none focus:border-pacifixBlue transition ease-in', placeholder: 'Title' %>
    </div>
    <div class="form-group">
      <label for="name" class="font-bold block">Submitted Date</label>
      <%= f.text_field :created_at_between, value: ransack_params[:created_at_between], class: 'w-full border border-slate-300 py-[7px] px-3 rounded outline-none focus:border-pacifixBlue transition ease-in', id: 'date-range-filter', placeholder: 'Submitted Date' %>
    </div>
    <div class="form-group">
      <%= f.label :status_eq, "Status", class: 'font-bold block' %>
      <%= f.select :status_eq, options_for_select(@statuses, params[:q] ? params[:q][:status_eq] : nil), {include_blank: 'All'}, {class: "w-full p-2 rounded outline-none bg-white border border-slate-300 focus:border-pacifixBlue py-[6px] select-dropdown"} %>
    </div>
    <div class="form-group">
      <%= f.label :company_id_eq, "Company", class: 'font-bold block' %>
      <%= f.select :company_id_eq, options_for_select(@companies, params[:q] ? params[:q][:company_id_eq] : nil), {include_blank: 'All'}, {class: "w-full p-2 rounded outline-none bg-white border border-slate-300 focus:border-pacifixBlue py-[6px] select-dropdown"} %>
    </div>
  </div>
  <div class="form-group">
    <button class="bg-pacifixBlue inline-block text-white rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear mr-2">Search</button>
    <%= link_to "Reset", admin_bug_reports_path, class: 'bg-white inline-block text-black border border-pacifixBlue rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear' %>
  </div>
<% end %>
