<div class="homepage-banner d-flex flex-column justify-content-center align-items-center text-light">
  <div class="container">
    <div class="homepage-desc">
      <h1 class="homepage-title fw-bold lh-base">YOUR NAVIGATOR <span class="d-block">IN THE TRADE WORLD</span></h1>
      <p class="fw-light fs-5">
        We hope that with our services you will receive the most
        personalized help in transporting any kind of cargos to any
        distances
      </p>
      <%= button_to 'Contact Us' , contact_path, class: "text-uppercase fw-bolder btn-hero rounded py-2 px-4 d-flex", method: :get %>
    </div>
  </div>
</div>
<a href="https://api.whatsapp.com/send?phone=+628112108020&text=This%20is%20a%20messages" target="_blank">
  <%= image_tag asset_image("nineod-freight/whatsapp.svg"), alt: "whatsapp-image", class: 'wa-image shadow rounded-circle' %>
</a>
<section class="excellence row gx-0" data-aos="fade-up" data-aos-duration="1000">
  <div class="col-md-4">
    <div class="excellence-content text-center p-5">
      <%= image_tag asset_image("nineod-freight/consult-talk.svg"), class: 'excellence-icons my-4', alt: 'expert-staff-icon' %>
      <h5 class="excellence-title text-uppercase fw-bold text-black my-3">expert staff</h5>
      <p class="my-2 fw-light">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="excellence-content excellence-content-active text-center p-5">
      <%= image_tag asset_image("nineod-freight/delivery.svg"), class: 'excellence-icons my-4', alt: 'expert-staff-icon' %>
      <h5 class="excellence-title text-uppercase fw-bold text-black my-3">logistic service</h5>
      <p class="my-2 fw-light">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="excellence-content text-center p-5">
      <%= image_tag asset_image("nineod-freight/lorry.svg"), class: 'excellence-icons-big my-4', alt: 'expert-staff-icon' %>
      <h5 class="excellence-title text-uppercase fw-bold text-black my-3">ground shipping</h5>
      <p class="my-2 fw-light">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor
      </p>
    </div>
  </div>
</section>
<section class="feature">
  <div class="feature-item d-flex">
    <div class="feature-image w-50">
      <%= image_tag asset_image("nineod-freight/trucking.jpg"), class: 'w-100' %>
    </div>
    <div class="feature-text d-flex flex-column justify-content-center align-items-center w-50">
      <div class="feature-text-item container">
        <h1 class="feature-text-title text-uppercase fw-bold" data-aos="fade-left" data-aos-duration="1000">Trucking and Freight Transport</h1>
        <p class="fs-5 sub-heading" data-aos="fade-left" data-aos-duration="1200">
          The world is changing all around us. To continue to thrive as a
          business over the next ten years and beyond.
        </p>
        <p class="feature-description" data-aos="fade-left" data-aos-duration="1400">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
  </div>
  <div class="feature-item-reverse d-flex">
    <div class="feature-text d-flex flex-column justify-content-center align-items-center w-50">
      <div class="feature-text-item container">
        <div data-aos="fade-right" data-aos-duration="1000">
          <p class="fs-5 text-uppercase m-0 sub-heading">why choose us</p>
          <h1 class="feature-text-title text-uppercase fw-bold mb-4">Our Special Features</h1>
        </div>
        <div class="d-flex mb-5" data-aos="fade-right" data-aos-duration="1000">
          <%= image_tag asset_image("nineod-freight/smile.svg"), class: 'feature-icon me-4', alt: 'smile-icon' %>
          <div class="feature-desc w-100">
            <p class="fs-5 text-uppercase fw-semibold m-0 mb-2">100% satisfied customers</p>
            <p class="fw-light">Our customers are the luckiest people in the entire world, getting their mail safe and in time.</p>
          </div>
        </div>
        <div class="d-flex mb-5" data-aos="fade-right" data-aos-duration="1200">
          <%= image_tag asset_image("nineod-freight/medal.svg"), class: 'feature-icon me-4', alt: 'smile-icon' %>
          <div class="feature-desc w-100">
            <p class="fs-5 text-uppercase fw-semibold m-0 mb-2">quality service affordable price</p>
            <p class="fw-light">Our customers are the luckiest people in the entire world, getting their mail safe and in time.
            </p>
          </div>
        </div>
        <div class="d-flex mb-5" data-aos="fade-right" data-aos-duration="1000">
          <%= image_tag asset_image("nineod-freight/planet-earth.svg"), class: 'feature-icon me-4', alt: 'smile-icon' %>
          <div class="feature-desc w-100">
            <p class="fs-5 text-uppercase fw-semibold m-0 mb-2">quality service affordable price</p>
            <p class="fw-light">Our customers are the luckiest people in the entire world, getting their mail safe and in time.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-image w-50">
      <%= image_tag asset_image("nineod-freight/special-feature.jpg"), class: 'w-100' %>
    </div>
  </div>
</section>
<section class="contact-us text-light d-flex align-items-center">
  <div class="container lh-2" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="fw-bold text-uppercase">let us help you find a solution that meets your needs</h1>
    <p class="fs-5">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
    <button class="text-uppercase fw-bolder btn-contact-us rounded py-2 px-4 d-flex">contact us</button>
  </div>
</section>
<section class="maps">
  <%= image_tag asset_image("nineod-freight/maps.png"), class: 'w-100 maps-image', alt: 'maps' %>
</section>
<footer class="py-3 mt-3">
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-4">
        <p class="fw-light footer-title">Nineod Freight &copy; All Rights Reserved</p>
      </div>
      <div class="col-md-4">
        <p class="fw-light text-center">
          <a href="#" class="text-decoration-none text-dark">Proudly created</a>
          with <%= image_tag asset_image("nineod-freight/love-footer.svg"), class: 'img-footer' %> by
          <a href="https://www.nineod.com/" class="text-decoration-none text-dark">nineod.com</a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="media-social-icon d-flex justify-content-end">
          <a href="#" class="text-secondary">
            <i class="fab fa-facebook-f me-3"></i>
          </a>
          <a href="#" class="text-secondary">
            <i class="fab fa-twitter me-3"></i>
          </a>
          <a href="#" class="text-secondary">
            <i class="fab fa-instagram me-3"></i>
          </a>
          <a href="#" class="text-secondary">
            <i class="fab fa-linkedin-in me-3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
