<div class="main-content-header mb-3">
  <%= load_flash_alert %>
  <%= load_flash_notice %>
  <h1 class="main-content-title text-3xl font-bold mb-5">Currencies</h1>
</div>
<div class="main-content-card bg-white p-7 rounded shadow-md">
  <div class="flex justify-between gap-2 flex-col sm:flex-row">
    <div class="tabs w-full">
      <ul id="tabs-nav" class="border-b overflow-auto">
        <li class="float-left mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear">
          <a href="#tab1">Approved</a>
        </li>
        <li class="float-left mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear ">
          <a href="#tab2">Request</a>
        </li>
      </ul>
    </div>
    <div class="float-right mt-1.5 text-right">
      <%= link_to new_admin_currency_path, class: 'inline-block bg-pacifixBlue text-white mb-3 rounded py-2 w-36 text-center shadow hover:shadow-lg transition ease-linear' do %>
        <i class="fa fa-plus" aria-hidden="true"></i> New Currency
      <% end %>
    </div>
  </div>
  <div id="tabs-content" class="py-3">
    <div id="tab1" class="tab-content">
      <div class="overflow-x-auto" id="position-table">
        <table class="w-full text-left shadow">
          <thead>
            <tr>
              <th class="border p-2">No.</th>
              <th class="border p-2">Country</th>
              <th class="border p-2">Symbol</th>
              <th class="border p-2">Action</th>
            </tr>
          </thead>
          <tbody>
            <%= no_table_record(@currencies, 5) %>
            <% @currencies.each_with_index do |currency, idx| %>
              <tr>
                <td class="border p-2"><%= idx + 1 %></td>
                <td class="border p-2"><%= currency.country.name %></td>
                <td class="border p-2"><%= currency.symbol %></td>
                <td class="border p-2 truncate">
                  <%= link_to edit_admin_currency_path(currency), class: 'bg-orange-400 w-7 h-7 rounded inline-block' do %>
                    <span class="flex h-full"><i class="fa fa-edit text-xs text-white m-auto" aria-hidden="true"></i></span>
                  <% end %>
                  <button class="bg-red-500 w-7 h-7 rounded text-white inline-block showModal">
                    <span class="flex h-full"><i class="fa fa-trash text-xs m-auto" aria-hidden="true"></i></span>
                  </button>
                  <div class="modal fixed z-50 hidden" id="modal">
                    <div class="modal-backdrop fixed inset-0 bg-gray-900 opacity-40"></div>
                    <div class="modal-content fixed inset-0 flex items-center justify-center z-50 px-5">
                      <div class="bg-white p-6 rounded-md m-auto shadow-lg w-full sm:w-1/2 lg:w-1/3">
                        <p class="mb-4">Are you sure?</p>
                        <div class="flex justify-end">
                        <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 hideModal">Cancel</button>
                        <%= link_to admin_currency_path(currency), method: :delete, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600' do %>
                          Delete
                        <% end %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="flow-root mt-4">
        <div class="float-left">
          <%= page_entries_info @currencies, entry_name: 'Currency' if @currencies.present? %>
        </div>
        <div class="float-right">
          <%= paginate @currencies, window: 2 %>
        </div>
      </div>
    </div>
    <div id="tab2" class="tab-content">
      <div class="overflow-x-auto" id="position-table">
        <table class="w-full text-left shadow">
          <thead>
            <tr>
              <th class="border p-2">No.</th>
              <th class="border p-2">Country</th>
              <th class="border p-2">Symbol</th>
              <th class="border p-2">Action</th>
            </tr>
          </thead>
          <tbody>
            <%= no_table_record(@request_currencies, 5) %>
            <% @request_currencies.each_with_index do |currency, idx| %>
              <tr>
                <td class="border p-2"><%= idx + 1 %></td>
                <td class="border p-2"><%= currency.country.name %></td>
                <td class="border p-2"><%= currency.symbol %></td>
                <td class="border p-2 flex gap-1">
                  <div class="modal-wrap">
                    <button class="bg-carribeanGreen w-7 h-7 rounded text-white inline-block showModal">
                      <span class="flex h-full"><i class="fa fa-check text-xs m-auto" aria-hidden="true"></i></span>
                    </button>
                    <div class="modal fixed z-50 hidden" id="modal">
                      <div class="modal-backdrop fixed inset-0 bg-gray-900 opacity-40"></div>
                      <div class="modal-content fixed inset-0 flex items-center justify-center z-50 px-5">
                        <div class="bg-white p-6 rounded-md m-auto shadow-lg w-full sm:w-1/2 lg:w-1/3">
                          <p class="mb-4">Are you sure?</p>
                          <div class="flex justify-end">
                            <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 hideModal">Cancel</button>
                            <%= link_to approve_admin_currency_path(currency), method: :patch, class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600' do %>
                              Approve
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modap-wrap">
                    <button class="bg-red-500 w-7 h-7 rounded text-white inline-block showModal">
                      <span class="flex h-full"><i class="fa fa-ban text-xs m-auto" aria-hidden="true"></i></span>
                    </button>
                    <div class="modal fixed z-50 hidden" id="modal">
                      <div class="modal-backdrop fixed inset-0 bg-gray-900 opacity-40"></div>
                      <div class="modal-content fixed inset-0 flex items-center justify-center z-50 px-5">
                        <div class="bg-white p-6 rounded-md m-auto shadow-lg w-full sm:w-1/2 lg:w-1/3">
                          <p class="mb-4">Are you sure?</p>
                          <div class="flex justify-end">
                            <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 hideModal">Cancel</button>
                            <%= link_to reject_admin_currency_path(currency), method: :patch, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600' do %>
                              Reject
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
