<div class="main-content py-3 bg-powderBlue">
  <div class="container max-w-4xl mx-auto px-4 sm:px-0">
    <div class="main-content-header mb-5 bg-white p-5 rounded">
      <h1 class="text-3xl font-bold mb-2 main-content-title"><%= @gameplay.name %></h1>
      <div class="interview-description">
        <p class="text-lg">User: <%= @interview.name %></p>
        <% if @interview_gameplay.rated? %>
          <p class="text-lg">Total Score : <%= @interview_gameplay.total_score.round(1) %></p>
        <% end %>
      </div>
    </div>
    <%= form_with(url: interview_create_evaluate_path, class: 'main-content-form', local: true, data: {turbo: false}) do |f| %>
      <input name="gameplay_id" type="hidden" value="<%= params[:gameplay_id] %>">
      <input name="interview_id" type="hidden" value="<%= params[:interview_id] %>">
      <%= render partial: 'interview/interviews/partials/multiple_choice_result' %>
      <% @gameplay.question_essays.each_with_index do |question_essay, idx| %>
        <div class="main-content-card bg-white p-5 rounded mb-5">
          <h2 class="mb-3"><%= question_essay.question.html_safe %></h2>
          <div class="user-answer mb-2">
            <h2 class="font-semibold">Answer</h2>
            <p class="p-2 border rounded"><%= @interview_answers.find_by(question: question_essay)&.answer %></p>
          </div>
          <% unless @gameplay.basic_gameplay? %>
            <div class="hint-answer mb-3">
              <h2 class="font-semibold">Hint Answer</h2>
              <p class="text-green-700"><%= question_essay.hint_answer %></p>
            </div>
            <div class="point-answer">
              <label for="point-answer" class="font-semibold mr-5">Point </label>
              <input type="hidden" name="question[<%= idx %>][id]" value="<%= @interview_answers.find_by(question: question_essay)&.id %>">
              <input type="number" max="<%= question_essay.point %>" min="0" name="question[<%= idx %>][point]" class="focus:outline-none border p-1 rounded focus:border-pacifixBlue focus:shadow-sm transition ease-in" value="<%= @interview_answers.find_by(question: question_essay)&.point %>" required placeholder="Point"> Max Point : <%= question_essay.point %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% unless @gameplay.basic_gameplay? %>
        <div class="main-content-button flex justify-center gap-3">
          <button type="submit" class="bg-africanViolet hover:shadow-md text-white py-2 px-8 rounded transition ease-in">Submit</button>
          <button type="reset" class="text-black px-8 rounded bg-white focus:shadow-md transition ease-in">Reset</button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
