<style type="text/css">
  .popup {
    position: relative;
  }

  .popup .popuptext {
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  }
</style>
<div class="detail-modal"></div>
<div class="overflow-x-auto lg:overflow-visible" id="user-table">
  <table class="w-full text-left shadow">
    <thead>
      <tr>
        <th class="border p-2 whitespace-nowrap">Tanggal</th>
        <th class="border p-2">Presensi Masuk</th>
        <th class="border p-2 w-20 whitespace-nowrap">Presensi Pulang</th>
        <th class="border p-2">Mulai Lembur</th>
        <th class="border p-2">Selesai Lembur</th>
      </tr>
    </thead>
    <tbody>
      <!-- <%= no_table_record(attendances, 6) %> -->
      <% dates.each.with_index(1) do |date, idx| %>
        <tr>
          <td class="border p-2 whitespace-nowrap"><%= date.strftime('%d %B %Y') %></td>
          <td class="border p-2 whitespace-nowrap">
            <% if date == Date.today && get_presence_data(date, current_admin) == nil %>
            	<%= form_with url: attendance_in_user_attendance_path(current_admin), method: :post do %>
              	<!-- <%= date_field_tag :date, selected: date %>	 -->
        			  <%= submit_tag "Presensi Masuk", class: "inline-block bg-pacifixBlue text-white mb-3 rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear" %>
        			<% end %>
            <% else %>
            <%= get_presence_data(date, current_admin) %>
            <% end %>
          </td>
          <td class="border p-2 whitespace-nowrap">
            <% if date == Date.today && get_checkout_data(date, current_admin) == nil %>
              <%= form_with url: attendance_out_user_attendance_path(current_admin), method: :post do %>
                <!-- <%= date_field_tag :date, selected: date %>   -->
                <%= submit_tag "Presensi Pulang", class: "inline-block bg-pacifixBlue text-white mb-3 rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear" %>
              <% end %>
            <% else %>
            <%= get_checkout_data(date, current_admin) %>
            <% end %>
          </td>
          <td class="border p-2 whitespace-nowrap">
            <% if date == Date.today && get_overtime_in_data(date, current_admin) == nil %>
              <%= form_with url: overtime_in_user_attendance_path(current_admin), method: :post do %>
                <!-- <%= date_field_tag :date, selected: date %>   -->
                <%= submit_tag "Mulai Lembur", class: "inline-block bg-pacifixBlue text-white mb-3 rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear" %>
              <% end %>
            <% else %>
            <%= get_checkout_data(date, current_admin) %>
            <% end %>
          </td>
          <td class="border p-2 whitespace-nowrap">
            <% if date == Date.today && get_overtime_out_data(date, current_admin) == nil %>
              <%= form_with url: overtime_out_user_attendance_path(current_admin), method: :post do %>
                <!-- <%= date_field_tag :date, selected: date %>   -->
                <%= submit_tag "Selesai Lembur", class: "inline-block bg-pacifixBlue text-white mb-3 rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear" %>
              <% end %>
            <% else %>
            <%= get_checkout_data(date, current_admin) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flow-root mt-4">
  <div class="float-left">
    <%= page_entries_info attendances, entry_name: 'Work Leave Request' if attendances.present? %>
  </div>
  <div class="float-right">
    <%= paginate attendances, window: 2 %>
  </div>
</div>
