<!DOCTYPE html>
<html>
  <head>
    <title>NineodFreight.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application_nineod_freight", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/shared/nineod_freight/header" %>
    <%= yield %>
  </body>
</html>
