<div class="flex justify-between flex-col sm:flex-row mb-4 gap-3">
  <div class="form-group flex items-center gap-3">
    <label for="select-cash-report inline m-5">Report With Currency : </label>
    <select name="select-cash-repost" id="select-cash-report" class="py-3 px-2 bg-white focus:outline-none border rounded focus:border-pacifixBlue w-32 filter-date filter-currency" data-url=<%= weekly_user_cash_reports_path %>>
      <option value="">All</option>
      <% @currency_list.each do |currency| %>
        <option value="<%= currency.id %>" <%= 'selected' if currency.id.eql?(params[:currency_id].to_i) %>><%= currency.code %></option>
      <% end %>
    </select>
    <%= link_to weekly_report_url, class: 'inline-block bg-pacifixBlue text-white tooltip  rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear sm:relative', target: '_blank' do %>
      <span class="tooltip-text bg-gray-500 shadow text-white -bottom-10 left-0 rounded whitespace-nowrap">Download PDF</span>
      <i class="fa fa-file-pdf"></i>
    <% end %>
  </div>
  <input type="hidden" id="select-cash-report-date" value="<%= params[:date] %>">
  <div class="form-group flex items-center gap-4">
    <%= link_to weekly_user_cash_reports_path(date: params[:date].to_date.weeks_ago(1)) do %>
      <i class="fa fa-chevron-left text-slate-400" aria-hidden="true"></i>
    <% end %>
    <span class="uppercase text-lg w-full text-center"><%="#{params[:date].to_date.beginning_of_week.strftime('%d %h %Y')} - #{params[:date].to_date.end_of_week.strftime('%d %h %Y')}"%></span>
    <%= link_to weekly_user_cash_reports_path(date: params[:date].to_date.weeks_since(1)) do %>
      <i class="fa fa-chevron-right text-slate-400" aria-hidden="true"></i>
    <% end %>
  </div> 
</div>
<div class="tabs mb-4">
  <ul id="report-nav" class="border-b">
    <li class="inline-block mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear <%= active_section?('weekly', action_name) %>">
      <%= link_to weekly_user_cash_reports_path(date: params[:date], currency_id: params[:currency_id]) do %>
        General
      <% end %> 
    </li>
    <li class="inline-block mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear <%= active_section?('weekly_expense', action_name) %>">
      <%= link_to weekly_expense_user_cash_reports_path(date: params[:date], currency_id: params[:currency_id]) do %>
        Expense & Income
      <% end  %>
    </li>
    <li class="inline-block mr-5 py-2 px-3 hover:border-b-4 hover:border-b-pacifixBlue cursor-pointer transition ease-linear <%= active_section?('weekly_transfer', action_name) %>">
      <%= link_to weekly_transfer_user_cash_reports_path(date: params[:date], currency_id: params[:currency_id]) do %>
        Transfer List
      <% end %>
    </li>
  </ul>
</div>
